.Card {
    border: 3px solid #c200c9;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
    width: 500px;
    background-color:#c200c9;
    
    
}

.Card .Title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    background-color:#c200c9;
    
}
.Card .Content {
    flex-grow: 1;
    background-color: white;
    color: black;
    padding: 10px;
}